body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
}

#stage {
    position: relative;
}
#stage,
canvas {
    max-width: 800px;
    margin: 0 auto;
}

#callout {
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
}

#menu {
    display: none;
    position: absolute;
    bottom: 0;
    left: 2px;
    z-index: 10;
    &.active {
        display: block;
    }
    .spawn {
        background: #ccc;
        // line-height: 40px;
        padding: 10px 8px;
        border: none;
        margin: 0 2px;
        float: left;
        cursor: default;
        .price {
            
        }
    }
}

.instructions {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}